<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render CrawlexirWeb.SharedView, "head.html", assigns %>
  </head>
  <body>
    <main role="main" class="container">
      <%= render CrawlexirWeb.SharedView, "app_header.html", assigns %>

      <%= render CrawlexirWeb.SharedView, "flash.html", assigns %>

      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
